.imgWrapper img {
  width: 10rem;
  height: 15rem;
  display: block;
}
.imgWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.title {
  color: var(--mainDark);
  font-weight: bolder;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.shopCard p {
  font-size: var(--bodyFont);
}
.shopCard {
  color: var(--main);
  background-color: var(--mainLight);
  padding: 1.5rem;
  border: 0.1rem solid var(--mainDark);
  border-radius: 1rem;
}
.shopCard p:last-child {
  font-weight: 900;
}

.storeWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding: 5vw;
  gap: 1.6rem;
}
.quantityInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.quantityInput input {
  width: 2.2rem;
  text-align: center;
  outline: none;
  border: none;
  background-color: var(--background);
}
.quantityRight button {
  background-color: var(--main);
  color: var(--mainLight);
  border: none;
  text-align: center;
  width: 1.5rem;
  border-radius: 0.2rem;
}
.quantityRight {
  margin-left: auto;
}
