:root {
  --background: #f3e6d5;
  --main: #d45060;
  --mainDark: #800020;
  --mainLight: #fff9f2;
  --bodyFont: clamp(1.6rem, 1.4667rem + 0.6667vw, 2rem);
  --h1Font: clamp(3.6rem, 2.4rem + 6vw, 7.2rem);
  --h2Font: clamp(2.8rem, 2.1333rem + 3.3333vw, 4.8rem);
  --h3Font: clamp(2rem, 1.6rem + 2vw, 3.2rem);
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
  font-size: var(--bodyFont);
}
a {
  text-decoration: none;
}
#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
footer {
  flex: 0;
}
header {
  flex: 0;
}
