.heroContainer img {
  display: block;
  width: 100vw;
}
.heroContainer h1 {
  background-color: rgba(0, 0, 0, 0.39);
  color: var(--background);
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
  padding: 2vw 0;
  text-decoration: underline;
  font-size: var(--h3Font);
}
.heroContainer {
  position: relative;
}
