.logo {
  border-radius: 0.5rem;
  display: block;
  width: 6rem;
}

header {
  background-color: var(--mainDark);
  display: flex;
  padding: 1.5vw 2vw;
  justify-content: space-between;
}
.cartLogo {
  filter: invert();
  width: 2rem;
}
.rightContent {
  display: flex;
  align-items: center;
  gap: 5vw;
}
.headerLink {
  color: var(--mainLight);
}
